<div class="container">
	<div class="row">
		<% @activities.each_slice(2) do |row| %>
		<% row.each do |activity| %>
		<div class="col">
			<div class="card">
				<%= image_tag activity.photo, class:'card-img-top' %>
				<div class="body">
					<h5><%= activity.name %></h5>
					<p><%= activity.duration %><p>
					<%= link_to "activity complete", activity_activities_users_path(activity), class: 'btn btn-success', method: :post %>
				</div>
			   </div>
			 </div>
			<% end %>
			<div class="w-100" style="margin-top:20px"> </div>
		<% end %>
		</div>
	</div>
</div>
